In [181]:
"""
Скрипт для подсчета среднего балла для отделений и специальностей
"""

'\nСкрипт для подсчета среднего балла для отделений и специальностей\n'

In [182]:
import pandas as pd
import openpyxl
import time
from openpyxl.utils.dataframe import dataframe_to_rows

In [183]:
ab_df = pd.read_excel('data/Абитуриенты.xlsx',sheet_name='Абитуриенты',skiprows=8,dtype={'ИНН':str,'Серия УЛ':str,'Номер УЛ':str})

In [184]:
fis_df = pd.read_excel('data/Данные по заявлениям с ФИС-ГИА.xlsx')

In [185]:
fis_df

                               Направление подготовки  Заявлений
0   08.01.31 Электромонтажник электрических сетей ...         57
1   15.01.05 Сварщик (ручной и частично механизиро...        119
2   15.01.33 Токарь на станках с числовым программ...         82
3                     15.01.35 Мастер слесарных работ         61
4                        23.01.09 Машинист локомотива        190
5   23.01.10 Слесарь по обслуживанию и ремонту под...        106
6   23.01.17 Мастер по ремонту и обслуживанию авто...         85
7   35.01.27 Мастер сельскохозяйственного производ...         22
8    43.01.06 Проводник на железнодорожном транспорте         78
9   08.02.09 Монтаж, наладка и эксплуатация электр...         51
10            13.02.07 Электроснабжение (по отраслям)         55
11  23.02.06 Техническая эксплуатация подвижного с...         45
12  23.02.07 Техническое обслуживание и ремонт дви...         51
13  43.02.06 Сервис на транспорте (по видам трансп...         66

In [186]:
# подсчитываем количество заявлений и конкурс
lst_code = ['23.01.09','43.01.06','23.02.06','43.02.06','15.01.05','15.01.35','15.01.33','23.01.10'
    ,'08.01.31','23.01.17','08.02.09','23.02.07','13.02.07','35.01.27']

lst_name_spec = ['Машинист локомотива','Проводник на железнодорожном транспорте','Техническая эксплуатация подвижного состава железных дорог',
                 'Сервис на транспорте (по видам транспорта)','Сварщик (ручной и частично механизированной сварки (наплавки)',
                 'Мастер слесарных работ','Токарь на станках с числовым программным управлением','Слесарь по обслуживанию и ремонту подвижного состава'
    ,'Электромонтажник электрических сетей и электрооборудования','Мастер по ремонту и обслуживанию автомобилей',
                 'Монтаж, наладка и эксплуатация электрооборудования промышленных и гражданских зданий',
                 'Техническое обслуживание и ремонт двигателей, систем и агрегатов автомобилей','Электроснабжение (по отраслям)',
                 'Мастер сельскохозяйственного производства']

lst_plan = [100,25,25,25,50,25,50,50
    ,25,25,25,25,25,25]
base_df = pd.DataFrame(columns=['Код','Наименование'])
base_df['Код'] = lst_code
base_df['Наименование'] = lst_name_spec
base_df['Направление подготовки'] = base_df['Код'] + ' ' + base_df['Наименование']
base_df['База'] = '9 кл.'
base_df['Количество мест'] = lst_plan



dog_df = ab_df.copy()

In [187]:
base_df.drop(columns=['Код','Наименование','База'],inplace=True)
base_df.rename(columns={'Количество мест':'КЦП'},inplace=True)

In [188]:
base_df

                               Направление подготовки  КЦП
0                        23.01.09 Машинист локомотива  100
1    43.01.06 Проводник на железнодорожном транспорте   25
2   23.02.06 Техническая эксплуатация подвижного с...   25
3   43.02.06 Сервис на транспорте (по видам трансп...   25
4   15.01.05 Сварщик (ручной и частично механизиро...   50
5                     15.01.35 Мастер слесарных работ   25
6   15.01.33 Токарь на станках с числовым программ...   50
7   23.01.10 Слесарь по обслуживанию и ремонту под...   50
8   08.01.31 Электромонтажник электрических сетей ...   25
9   23.01.17 Мастер по ремонту и обслуживанию авто...   25
10  08.02.09 Монтаж, наладка и эксплуатация электр...   25
11  23.02.07 Техническое обслуживание и ремонт дви...   25
12            13.02.07 Электроснабжение (по отраслям)   25
13  35.01.27 Мастер сельскохозяйственного производ...   25

In [189]:
base_df=base_df.merge(fis_df,left_on='Направление подготовки',right_on='Направление подготовки',how='outer') # соединяем

In [190]:
count_df.groupby(by=['Направление подготовки']).agg({'ФИО':'count'})

                                                    ФИО
Направление подготовки
08.01.31 Электромонтажник электрических сетей и...   68
08.02.09 Монтаж, наладка и эксплуатация электро...   55
13.02.07 Электроснабжение (по отраслям)              69
15.01.05 Сварщик (ручной и частично механизиров...  136
15.01.33 Токарь на станках с числовым программн...   95
15.01.35 Мастер слесарных работ                      70
23.01.09 Машинист локомотива                        198
23.01.10 Слесарь по обслуживанию и ремонту подв...  130
23.01.17 Мастер по ремонту и обслуживанию автом...   96
23.02.06 Техническая эксплуатация подвижного со...   49
23.02.07 Техническое обслуживание и ремонт двиг...   59
35.01.27 Мастер сельскохозяйственного производства   22
38.02.02 Страховое дело (по отраслям)                15
43.01.06 Проводник на железнодорожном транспорте     83
43.02.06 Сервис на транспорте (по видам транспо...   90

In [191]:
ab_df = ab_df[ab_df['Состояние выбран. конкурса'] == 'Зачислен'] # оставялем только зачисленных


replace_dct = {'Отделение железнодорожного транспорта':'ЖД','Отделение металлообработки':'МО',
               'Отделение энергоснабжения':'ЭО','Хоринский филиал':'ХФ',}

ab_df['Формирующее подр.'] = ab_df['Формирующее подр.'].replace(replace_dct)

unit_lst = ab_df['Формирующее подр.'].unique()

dct_unit = {key:None for key in unit_lst}

In [192]:
avg_df = ab_df[['ФИО','Ср. балл док-та об образовании','Формирующее подр.','Направление подготовки']] #  отбираем нужные колонки

In [193]:
for name in unit_lst:
    temp_df = avg_df[avg_df['Формирующее подр.']== name]
    temp_df = pd.pivot_table(temp_df,index = ['Направление подготовки'],
                            values=['Ср. балл док-та об образовании'],
                            aggfunc={'Ср. балл док-та об образовании':'mean'}
                           )
    temp_df.columns = ['Средний балл зачисленных']
    temp_df['Средний балл зачисленных'] = temp_df['Средний балл зачисленных'].apply(lambda x:round(x,2))
    temp_df = temp_df.reset_index()
    temp_df = temp_df.merge(base_df,left_on='Направление подготовки',right_on='Направление подготовки')
    temp_df['Конкурс'] = round(temp_df['Заявлений'] / temp_df['КЦП'],2)
    
    
    dct_unit[name] = temp_df

In [194]:
dct_unit['ЖД']['Направление подготовки']= dct_unit['ЖД']['Направление подготовки'].apply(lambda x:x.replace('23.01.09 Машинист локомотива','23.01.09 Помощник машиниста (по видам подвижного состава железнодорожного транспорта)'))

In [195]:
t = time.localtime()
current_time = time.strftime('%H_%M_%S', t)

wb = openpyxl.Workbook()
# Переименовываем лист
sheet = wb['Sheet']
sheet.title = 'ЖД'
wb.create_sheet('МО',index=1)
wb.create_sheet('ЭО',index=2)
wb.create_sheet('ХФ',index=3)

for name,df in dct_unit.items():    
    for r in dataframe_to_rows(df,index =False,header=True):
        if len(r) != 1:
            wb[name].append(r)

for name in unit_lst:
    wb[name].column_dimensions['A'].width =70
    wb[name].column_dimensions['B'].width =20
    wb[name].column_dimensions['C'].width =20
    wb[name].column_dimensions['D'].width =30
    wb[name].column_dimensions['D'].width =20


# Сохраняем итоговый файл
wb.save(f'data/Отчет заявления,средний балл от {current_time}.xlsx')

In [196]:
# высчитываем договорников

In [197]:
dog_ser_df = pd.read_excel('data/Договор Сервис на транспорте.xlsx') # сервис на транспорте
dog_fear_df = pd.read_excel('data/Договор Страховое дело.xlsx') #  страховое

In [198]:
dog_df = dog_df[['ФИО','Ср. балл док-та об образовании']]

In [199]:
dog_df

                                  ФИО  Ср. балл док-та об образовании
0       Абросова Анастасия Витальевна                           3.789
1     Абсаматов Вадим Чимид-Цыренович                           3.684
2         Авдеев Сергей Александрович                           3.211
3         Авдеев Сергей Александрович                           3.211
4         Аверина Вероника Евгеньевна                           4.100
...                               ...                             ...
1234            Яшин Никита Денисович                           3.050
1235            Яшин Никита Денисович                           3.050
1236            Яшин Никита Денисович                           3.050
1237            Яшин Никита Денисович                           3.050
1238            Яшин Никита Денисович                           3.050

[1239 rows x 2 columns]

In [200]:
df = pd.concat([dog_ser_df,dog_fear_df],ignore_index=True)

In [201]:
df

     №                              ФИО Направление подготовки
0    1     Кочетулина Валерия Андреевна   Сервис на транспорте
1    2        Чойропова Айлана Баировна   Сервис на транспорте
2    3         Гурлева Диана Валериевна   Сервис на транспорте
3    4        Корнакова Ксения Олеговна   Сервис на транспорте
4    5         Раупова Олеся Наврузовна   Сервис на транспорте
5    6             Гулюк Анна Андреевна   Сервис на транспорте
6    7          Братцева Олеся Олеговна   Сервис на транспорте
7    8       Короткова Ольга Алексеевна   Сервис на транспорте
8    9          Спицына Карина Игоревна   Сервис на транспорте
9   10        Дектярюк Роман Евгеньевич   Сервис на транспорте
10   1  Новикова Валерия Константиновна         Страховое дело
11   2         Ткачева Ксения Сергеевна         Страховое дело
12   3     Кропта Вероника Вячеславовна         Страховое дело
13   4       Брыкова Вероника Федоровна         Страховое дело
14   5          Хоняк Елизавета Юрьевна         Страховое дело
15   6         Гришина Олеся Евгеньевна         Страховое дело
16   7        Батомункуев Саян Баирович         Страховое дело
17   8         Брикотнина Юлия Олеговна         Страховое дело

In [202]:
out_df=df.merge(dog_df,left_on='ФИО',right_on='ФИО',how='inner')

In [203]:
out_df.drop_duplicates('ФИО',inplace=True)

In [204]:
out_df

,№,ФИО,Направление подготовки,Ср. балл док-та об образовании
0,1,Кочетулина Валерия Андреевна,Сервис на транспорте,3.900
2,2,Чойропова Айлана Баировна,Сервис на транспорте,3.850
4,3,Гурлева Диана Валериевна,Сервис на транспорте,3.800
6,4,Корнакова Ксения Олеговна,Сервис на транспорте,3.750
8,5,Раупова Олеся Наврузовна,Сервис на транспорте,3.750
10,6,Гулюк Анна Андреевна,Сервис на транспорте,3.700
12,7,Братцева Олеся Олеговна,Сервис на транспорте,3.500
15,8,Короткова Ольга Алексеевна,Сервис на транспорте,3.500
17,9,Спицына Карина Игоревна,Сервис на транспорте,3.474
19,10,Дектярюк Роман Евгеньевич,Сервис на транспорте,3.429
23,1,Новикова Валерия Константиновна,Страховое дело,4.286
24,2,Ткачева Ксения Сергеевна,Страховое дело,4.000
25,3,Кропта Вероника Вячеславовна,Страховое дело,3.857
26,4,Брыкова Вероника Федоровна,Страховое дело,3.737
27,5,Хоняк Елизавета Юрьевна,Страховое дело,3.600
28,6,Гришина Олеся Евгеньевна,Страховое дело,3.556
31,7,Батомункуев Саян Баирович,Страховое дело,3.550
34,8,Брикотнина Юлия Олеговна,Страховое дело,3.526

In [205]:
out_df=out_df.groupby('Направление подготовки').agg({'Ср. балл док-та об образовании':'mean'})

In [206]:
out_df['Ср. балл док-та об образовании']= out_df['Ср. балл док-та об образовании'].apply(lambda x:round(x,2))

In [208]:
out_df.to_excel('data/Договорники средний балл.xlsx')